* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}




a {
color: #c0c0c0;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 

 
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

   /* Add a gray background color and some padding to the footer */

 footer {


     padding: 25px;

background-color:  rgb(255,255,255);/* Fallback color */

   background-color: rgb(0,0,0); /* Black w/ opacity */
 }


body {font-family: Arial, Helvetica, sans-serif;}


#myImg {

   border-radius: 5px;

   cursor: pointer;

   transition: 0.3s;

}


#myImg:hover {opacity: 0.7;}


/* The Modal (background) */

.modal {

   display: none; /* Hidden by default */

   position: fixed; /* Stay in place */

   z-index: 1; /* Sit on top */

   padding-top: 100px; /* Location of the box */

   left: 0;

   top: 0;

   width: 100%; /* Full width */

   height: 100%; /* Full height */

   overflow: auto; /* Enable scroll if needed */

   background-color:  rgb(255,255,255);/* Fallback color */

   background-color: rgb(0,0,0); /* Black w/ opacity */

}


/* Modal Content (image) */

.modal-content {

   margin: auto;

   display: block;

   width: 80%;

   max-width: 700px;

}


/* Caption of Modal Image */

#caption {

   margin: auto;

   display: block;

   width: 80%;

   max-width: 700px;

   text-align: center;

   color: #FFFFFF;

   padding: 10px 0;

   height: 150px;

   background-color:  rgb(255,255,255);
}


/* Add Animation */

.modal-content, #caption {    

   -webkit-animation-name: zoom;

   -webkit-animation-duration: 0.6s;

   animation-name: zoom;

   animation-duration: 0.6s;

}


@-webkit-keyframes zoom {

   from {-webkit-transform:scale(0)} 

   to {-webkit-transform:scale(1)}

}


@keyframes zoom {

   from {transform:scale(0)} 

   to {transform:scale(1)}

}


/* The Close Button */

.close {

   position: absolute;

   top: 15px;

   right: 35px;

   color: #ffffff;

   font-size: 40px;

   font-weight: bold;

   transition: 0.3s;

}


.close:hover,

.close:focus {

   color: #bbb;

   text-decoration: none;

   cursor: pointer;

}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px){

   .modal-content {

       width: 100%;

   }

.responsive {
    width: auto;
    

}




